* {
  margin: 0;
  padding: 0;
}

.header-container h3,
.header-container h4 {
  display: inline-block;
}
.header-container h4 {
  float: right;
}

.grade-form-container input {
  width: 100%;
}

.grade-form-container i {
  font-size: 1.1rem;
}
